.foundations {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.foundation-pile {
  position: relative;
  border: 6px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  box-sizing: border-box;
}

.foundation-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.foundation-pile.drop-target {
  outline: none;
}

.foundation-empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foundation-placeholder {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
